@import "theme";

.texture-blue {
    /* hugo templating applied */
    {{ $background := resources.Get "backgrounds/blue.jpg" }}
    background-image: url('{{ $background.RelPermalink }}');

    h2 {
        color: #ddd;
    }

    .social i:hover {
        color: #eee;
    }

    .post-date {
        color: #ccc;
    }
}
