{{ define "header"}}
<h1>Finishing Things</h1>
<h4 class="post-description"></h4>
<div class="post-date" style="margin-top:20px">Published on Dec 17, 2019</div>
<ul class="post-tags"><li>life</li><li>projects</li></ul>
{{ end }}

{{ define "main"}}
{{ .Content }}
{{ end }}