<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . | plainify }}{{ else }}{{ site.Params.description }}{{ end }}{{ end }}">
<meta name="author" content="{{ site.Params.author }}">
<link rel="canonical" href="{{ .Permalink }}">

{{- $style := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{- $assets := site.Params.assets }}
{{- if eq site.Params.faviconEnv "dev" }}
  {{- $assets = site.Params.assetsDev }}
{{- end }}
<link rel="icon" href="{{ $assets.favicon | absURL }}">
<link rel="icon" type="image/svg+xml" href="{{ $assets.faviconSvg | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ $assets.favicon16x16 | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ $assets.favicon32x32 | absURL }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ $assets.favicon48x48 | absURL }}">
<link rel="apple-touch-icon" href="{{ $assets.appleTouchIcon | absURL }}">
<link rel="manifest" href="{{ $assets.webmanifest | absURL }}">
<meta name="theme-color" content="{{ $assets.theme_color }}">

{{- range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}" title="{{ site.Title }}">
{{- end }}
