<html lang="en"><head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&amp;display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <!-- <link rel="stylesheet" href="/assets/css/additions.css"> -->
    {{ $style := resources.Get "sass/style.scss" | resources.ExecuteAsTemplate "style.main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <title>Edd Armitage</title>
    </head>
    <body>
        <header class="texture-blue">
                <div class="container"><div class="navbar">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/about/"><li>About</li></a>
            </ul>
        </div></div><div class="container">
                {{ block "header" . }}
            <h1>Edd Armitage</h1>
            <h2>Developer</h2>
            <ul class="social">
                <a href="https://github.com/eddarmitage"><li><i class="icon-github-circled"></i></li></a>
                <a href="https://gitlab.com/eddarmitage"><li><i class="icon-gitlab"></i></li></a>
                <a href="https://linkedin.com/in/eddarmitage"><li><i class="icon-linkedin-squared"></i></li></a>
                <a href="https://twitter.com/eddarmitage"><li><i class="icon-twitter-squared"></i></li></a>
                <a href="https://www.instagram.com/eddarmitage/"><li><i class="icon-instagram"></i></li></a>
            </ul>
            {{ end }}
        </div>
        </header>
        <main>
            <div class="container">
                    {{ block "main" . }}

                    {{ end }}
            </div>
        </main>
        <br>
        {{ block "footer" . }}
        {{ end }}
        
        {{ template "_internal/google_analytics.html" . }}
    </body></html>
