{{ define "main"}}
    {{ range .Pages }}
    <ul class="posts">
        <li>
            <div class="post-meta">
                <a class="post-link" href="{{.Permalink}}">
                    <h2 class="post-title">{{.Title}}</h2>
                </a>
                <div class="post-date"><i class="icon-calendar"></i>{{.Date.Format "Jan 2, 2006"}}</div>
            </div>
            {{.Summary}}
        </li>
    </ul>
    {{ end }}
{{ end }}