@font-face {
    font-family: 'fontello';
    src: url('/assets/font/fontello.eot?26793073');
    src: url('/assets/font/fontello.eot?26793073#iefix') format('embedded-opentype'),
         url('/assets/font/fontello.woff2?26793073') format('woff2'),
         url('/assets/font/fontello.woff?26793073') format('woff'),
         url('/assets/font/fontello.ttf?26793073') format('truetype'),
         url('/assets/font/fontello.svg?26793073#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-calendar:before { content: '\e800'; } /* '' */
  .icon-github-circled:before { content: '\f09b'; } /* '' */
  .icon-gitlab:before { content: '\f296'; } /*  */
  .icon-twitter-squared:before { content: '\f304'; } /* '' */
  .icon-instagram:before { content: '\f16d'; } /* '' */
  .icon-linkedin-squared:before { content: '\f30c'; } /* '' */
